.book-mark {
  margin-top: 100px;
  min-height: 300px;
}
.book-mark__text {
  color: #cacaca;
  padding-left: 20px;
}
.nav-link {
  color: #cacaca;
}
.nav-link:hover {
  color: #ffc107;
}
.nav-tabs .nav-link.active {
  background: #ffc107;
}

