@import "./variable.scss";
.card {
  background-color: #212529;
}
.card-title {
  color: $gray;
}
.card-text {
  color: $gray;
}
.btn-primary {
  background-color: $gray;
  border: 1px solid $gray;
  color: rgb(56, 56, 56);
  border-radius: 30px;
}
:not(.btn-check) + .btn:active {
  background-color: $vivid-orange;
  border-color: none;
}
.btn-primary:hover {
  background-color: $vivid-orange;
  border: 1px solid $vivid-orange;
  box-shadow: 1px 1px 15px 1px rgba(240, 255, 0, 0.3);
  transition: 0, 5s;
}
